body {
    background-color: gray;
}

.file {
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    width: 1000px;
}

.file_item {
    background-color: rebeccapurple;
    border: 1px solid black;
    flex-basis: 300px;
    min-height: 100px;
}